.search-wrapper.card
  = form_tag(blogs_path, method: :get, role: 'search') do
    = text_field_tag :term,
                     params[:term],
                     autocomplete: :off,
                     placeholder: 'Search',
                     id: 'blogs_search',
                     class: 'autocomplete',
                     data: { autocomplete_path: blogs_autocompletes_path(format: :json) }

    = button_tag type: :submit, class: 'btn' do
      i.material-icons.search search
