= form_tag(blogs_searches_path, method: :get, role: 'search') do
  = text_field_tag :term,
                   params[:term],
                   autocomplete: :off,
                   placeholder: 'Search',
                   id: 'blogs_search',
                   data: { autocomplete_path: blogs_autocompletes_path }

  = submit_tag 'Search', name: nil, class: 'button'
