.ui.icon.input
  = form_tag(blogs_searches_path, method: :get, role: 'search', class: 'ui form') do
    = text_field_tag :term,
                     params[:term],
                     autocomplete: :off,
                     placeholder: 'Search',
                     id: 'blogs_search--input',
                     data: { autocomplete_path: blogs_autocompletes_path }
