//
// Header
// -----------
.top-bar
  & + .callout
    margin-bottom: 0

  .header__profile__picture
    width: 60px
    padding-right: 1rem
    float: left

  .header__profile__name
    float: right

    .role
      display: block
      margin-top: 0.5rem
