//
// Blog
// -------------
.blog
  margin-bottom: 3rem

  .label
    vertical-align: middle

  .timestamps
    color: $dark-gray
    text-transform: uppercase

  .highlight
    border-bottom: 1px solid $primary-color
    color: $primary-color
