//
// Breadcrumbs
// -------------
.breadcrumbs
  margin-bottom: 1rem
  padding: .4rem 1rem
  border-bottom: 1px solid rgba($primary-color, .2)
  .pretext
    float: left
    margin-right: .8rem
    color: $breadcrumbs-item-color-current
  li
    margin-top: 5px
    a
      transition: color .3s ease-in !important
      text-decoration: none !important
      &:hover
        color: $breadcrumbs-item-color-current
