//
// Breadcrumbs
// -------------
.breadcrumbs
  margin-bottom: 1rem
  padding: 0.4rem 1rem
  border-bottom: 1px solid rgba($primary-color, 0.2)

  .pretext
    margin-right: 0.8rem
    float: left
    color: $breadcrumbs-item-color-current

  li
    margin-top: 5px

    a
      transition: color 0.3s ease-in
      text-decoration: none

      &:hover
        color: $breadcrumbs-item-color-current
