//
// Orbit (carousel)
// ------------------
.orbit
  margin: 2rem 0
  &-container
    .orbit-slide
      padding: 1rem 3rem
      color: $white
      background-color: $primary-color
      &:nth-child(odd)
        background-color: $warning-color
