//
// Base
// -------------
body
  display: flex
  flex-direction: column
  min-height: 100vh
  height: auto !important

.content
  flex: 1 0
  .thumbnail
    &.center
      display: block
      margin: 0 auto
