@import foundation_and_overrides

body
  display: flex
  flex-direction: column
  min-height: 100vh
  height: auto !important

.content
  flex: 1 0

.footer
  padding: .5rem 0
  background-color: $dark-gray
  color: $white
